<%= stylesheet_link_tag :process %>
<%= stylesheet_link_tag :portfolio %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <img class="article-image" src=" ../images/solution-nexion.png" border="0" alt="">
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Context</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Nexion is a large personal lines insurer company that provides insurance and financial products. Nexion wants to break into phone insurance market that estimates $48 billion by 2020. Nexion stakeholders want to build an easy, intuitive purchase funnel for consumers to buy phone insurance.
                        </p>
                        <p>
                            The business requirements for this app were a(n):
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">simple, intuitive multi-purchase workflow</li>
                            <li class="mdl-list__item">provide coverage for latest models only</li>
                            <li class="mdl-list__item">intake and validate CC information</li>
                            <li class="mdl-list__item">send out insurance policy number via mail</li>
                            <li class="mdl-list__item">easy, informational process for filing a claim</li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Discovery</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            In order to understand the phone insurance market, I looked into competitors and what products they offered. The products and policies are similar, and I hypothesized that Nexion can offer the same along with their 100% guaranteed customer service. To validate this hypothesis, I selected users who have/had phone insurance and have filed a claim at least once.
                        </p>
                        <p>
                            The results from the first round of interviews were subpar because I didn't have the right target group. So for the second, I screened for people through a detailed survey with open-ended questions, and this dramatically improved quality in interview answers. From the interviews, noticeable trends bubbled up such as people:
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">bought insurance at time of phone purchase/upgrade</li>
                            <li class="mdl-list__item">were unaware that insurance can be bought outside of carriers</li>
                            <li class="mdl-list__item">preferred monthly payments to 1-year payment</li>
                            <li class="mdl-list__item">felt frustrated and annoyed when they filed a claim</li>
                            <li class="mdl-list__item">have a dependent attachment to their phones</li>
                        </ul>
                        <img class="article-image" src="../images/action-assumptions.jpg" border="0" alt=""></a>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Framing</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            Our sample group mentioned an attachment to their phones, and felt "naked" without them. Oddly enough, they opt-out of insurance to cut costs. Some angrily canceled their insurance after filing a claim because they had to pay a deductible in order for their phones to be replaced. This cognitive dissonance sparked an interesting design challenge:
                        </p>
                        <p class="pull-quote">"How might we provide clear, informative insurance plans that are affordable for money-conscious people?"</p>
                        <p>
                            Along with the rest of the project team, I generated as many solution ideas to answer this question. The ideas are usually open-ended, not specific components in the product. All ideas (written in post-its) were "synthesized", a process in which ideas are categorized by themes. There were many ideas that range from interaction design to process, so I prioritized them based on a simple question: "Does this solution solve a user need?"
                        </p>
                        <p>
                            From there, I drafted a rough prototype to validate this solution through concept testing, a similar form of testing with focus on concept feedback instead of usability's.
                        </p>
                        <img class="article-image" src="../images/action-usability.jpg" border="0" alt="">
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-iterations.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Working in Iterations</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            I worked closely with a product manager to assess and prioritize opportunities and constraints. For upcoming features, I faciliated sketching sessions called design studios to frame a problem in a scenario and sketch ideas on paper. This activity provided collaboration with all members in the project team and partake ownership in designs of the product.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-completed.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Finished Product</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            A responsive web application that allows smartphone users to purchase phone insurance easily. Nexion Mobile provides 3 protection plans with various coverages: Cracked Screen, Serious Malfunction, and Complete Damage. All 3 plans provide monthly or one-time payment options. After a successful payment, a customer can activate the protection plan by downloading a diagnostics app that checks for software and hardware qualities. Look below to see the final designs for Nexion.
                        </p>
                        <img class="article-image" src="../images/example-nexion.png" border="0" alt=""></a>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View More</a></button>
            </div>
        </div>
    </main>
</div>
