<%= stylesheet_link_tag :process %>
<%= stylesheet_link_tag :portfolio %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__media">
                    <img class="article-image" src=" ../images/solution-rx.png" border="0" alt="">
                </div>
                <div class="mdl-grid portfolio-width">
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Context</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Rx Emporium is a pharmacy benefit manager, working as a middleman between drug manufacturers and employers. The benefit manager (ie. Walgreen) pays pharmacies to dispense generic and brand drugs. Rx Emporium processes some 1.5 billion drug orders every year. The stakeholders want to increase sign-ups for mail-order delivery, and proposed an iOS app that scans pharmacy prescription bottles for automatic refills and be delivered at the front door.
                        </p>
                        <p>
                            The business requirements for this app were a(n):
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">iOS native app</li>
                            <li class="mdl-list__item">simple, intuitive multi-purchase workflow</li>
                            <li class="mdl-list__item">intake and validate CC information</li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Discovery</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            With an open mind, I looked into the stakeholder's idea, by downloading a competitor's prescription-scanning app. The experience was underwhelming as it was unable to scan the bottle accurately. Meanwhile, I was curious about people's thoughts on prescriptions and how they got them refilled. So I reached out to people for interviews on Craigslist and social media. From the interviews, we heard similar pains and needs; people were:
                        </p>
                        <ul class='mdl-list'>
                            <li class="mdl-list__item">too bothered to fill out paper application for home delivery service</li>
                            <li class="mdl-list__item">unaware of home delivery service was included with their health insurance</li>
                            <li class="mdl-list__item">rather pick up their prescription for themselves because it was easier</li>
                            <li class="mdl-list__item">pleasantly surprised home delivery was convenient after tedious sign up</li>
                            <li class="mdl-list__item">not excited to download an app to manage their prescriptions</li>
                        </ul>
                        <p>
                            Along with user interviews, I became familiar with Rx Emporium's Home Delivery website through service blue print, a technique to understand the prescription order and refill processes. With user interviews and service blueprint, I recognized that the current home delivery signup is a slow, tedious process.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Framing</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            I focused on initial home delivery signup as there was no substantial need for a native app. Overall, people wanted their prescription with little effort, and I strongly believed an easy setup process could increase in the number of signups. There is high user-value and pain in the delivery signup, and the feasibility for a signup workflow is possible. To generate ideas and change perspective into software solutions, I reframed the problem into a "How Might We..." statement:
                        </p>
                        <p class="pull-quote">"How might we make home delivery signup a simple process for new and existing customers?"</p>
                        <p>
                            I brainstormed and created a paper prototype to test this concept. With positive feedback received, I worked on a high-fidelity prototype in Sketch and Invision, and worked closely with product management to design incrementally in user stories.
                        </p>
                        <img class="article-image" src=" ../images/action-sketching.jpg" border="0" alt="">
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-iterations.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Working in Iterations</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            I had a regular rhythm of designing and testing as user feedback loops minimize product risks. I worked in weekly iterations, ahead of engineering by at least 3 weeks. This distance gives breath for design and product management to test features before engineers build them out.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-completed.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Finished Product</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            The product was finished and released into the wild in 6 months. The home delivery signup is a simple online application form, and existing customers can have their past prescriptions automatically loaded with a simple button click. Look below to see the final designs for Rx Emporium's Home Delivery website.
                        </p>
                        <img class="article-image" src="../images/example-rx.png" border="0" alt=""></a>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View More</a></button>
            </div>
        </div>
    </main>
</div>
