<%= stylesheet_link_tag :process %>
<%= stylesheet_link_tag :portfolio %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= partial "partials/nav" %>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <!-- <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Fostership &amp; Portal</h2>
                </div> -->
                <div class="mdl-card__media">
                    <img class="article-image" src="../images/portfolio/jumbo-rx.png" border="0" alt="">
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamonds/2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Discovery</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamonds/4.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Framing</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamonds/iterations.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Working in Iterations</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" ../images/portfolio/solution-rx.png" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamonds/completed.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Finished Product</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure. You can view the <a href="#" target="_blank">prototype here</a>.
                        </p>
                        <img class="article-image" src="../images/portfolio/examples/rx.png" border="0" alt=""></a>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View More</a></button>
            </div>
        </div>
    </main>
</div>
