<%= stylesheet_link_tag :process %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <%= partial "partials/nav" %> -->
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">Product Design Portfolio</span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
                <a class="mdl-navigation__link is-active" href="../process.html">Process</a>
                <a class="mdl-navigation__link" href="../about.html">About</a>
                <a class="mdl-navigation__link" href="../contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
            <a class="mdl-navigation__link is-active" href="../process.html">Process</a>
            <a class="mdl-navigation__link" href="../about.html">About</a>
            <a class="mdl-navigation__link" href="../contact.html">Contact</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Process</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-research.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Discovery</span><br>Approaching Problem Space</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                          The first step to designing great products is to understand the context and the problems within. I explore the problem space by unearthing any and as many challenges that obstruct existing processes - this involves delving into the whys, not only just the hows, of any processes in present workflows or organizations. This is a crucial component in learning domain knowledge and building user empathy. Activities I utilize to gain understanding can range from user interviews to remote cardsorting.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-synthesis.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Discovery</span><br>Exploring Problems in Depth</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                          Saturated with new domain knowledge and understanding, I am one step closer to building the product. At this point, there is an array of various problems, either overall workflow or missing software component. I prioritize problems based on pain frequency and user-value to determine user need. Then I look into business values to determine a compromise between user and business needs. I utilize 2x2 prioritizations to determine problems that need to be immediately addressed.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-brainstorm.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Framing</span><br>Brainstorming for Ideas</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            Once problems are identified, I go onto the next step in brainstorming for solutions. I target on each problem, and generate as many solutions as possible. Activities that I like to use are based on
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-sketching.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Framing</span><br>Planning for Building</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            At this point D+F process, generated solutions for the problem is at its peak, with various user and technical feasibility values. We narrow down solutions to a few sound solutions that can possibly be built with reasonable, healthy time.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-iterations.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Post D+F</span><br>Working in Iterations</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>
                            After Discovery and Framing, I move onto delivery, where I work with developers and product managers to develop the solution(s) that was uncovered in Framing portion of the process. Post D+F is iterative and usually involves continuous testing to validate the value of product from users.
                        </p>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View Portfolio</a></button>
            </div>
        </div>
    </main>
</div>
