<%= stylesheet_link_tag :process %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <%= partial "partials/nav" %> -->
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
                <span class="mdl-layout__title">Sylvee Lee Design Portfolio</span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
                <a class="mdl-navigation__link is-active" href="../process.html">Process</a>
                <a class="mdl-navigation__link" href="../about.html">About</a>
                <a class="mdl-navigation__link" href="../contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="../index.html">Portfolio</a>
            <a class="mdl-navigation__link is-active" href="../process.html">Process</a>
            <a class="mdl-navigation__link" href="../about.html">About</a>
            <a class="mdl-navigation__link" href="../contact.html">Contact</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Process</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-research.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Discovery</span><br>Approaching Problem Space</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>Problem-oriented mindset</p>
                        <p>
                          Understanding context and problems within is the first step to designing great products. I explore the problem space by unearthing as many challenges that obstruct existing processes - this involves delving into the whys and hows, in present workflows and/or organizations. This is a crucial component in learning domain knowledge. Activities utilized to gain understanding can range from user interviews to remote card sorting.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-synthesis.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-discovery2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Discovery</span><br>Exploring Problems in Depth</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>Problem-oriented mindset</p>
                        <p>
                          Saturated with new domain knowledge, I process the information by looking for common problems and insights. I work collaboratively with team members to determine them through synthesis, a method to find pains or trends in a problem space. Afterwards, I prioritize these problems based on pain frequency and user-value. This is an important step of the discovery portion as I strategically focus on critical problems that provide user-value first. This naturally transitions into next step - framing the problems to generate solutions.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-brainstorm.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Framing</span><br>Brainstorming for Ideas</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>Solution-oriented mindset</p>
                        <p>
                            Focusing on one critical problem acts as an anchor for creativity. Solutions are generated and geared more towards concepts, more so than software features because providing a valid solution to a user problem is more valuable than a software component...for now. The problem is phrased into a neutral, open-ended question that encourages any creative solution ideas. Common activities in this step of the process includes scenario writing, sketching, and solution brainstorming.
                        </p>
                    </div>
                </div>

                <div class="mdl-card__media">
                    <img class="article-image" src=" images/process-sketching.jpg" border="0" alt="">
                </div>

                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-framing2.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Framing</span><br>Planning for Building</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>Solution-oriented mindset</p>
                        <p>
                            With many solutions at hand, I work along with engineers and product managers to determine the top solution. I juggle, compromise, but ultimately advocate for the user while considering technical feasibility and business requirements. Once a solution is picked, the mindset is now shifted towards solutions in software features. I create a rough prototype of the solution to gain user validation in concept testing. Based on feedback, I refine the prototype and prepare for designing the product.
                        </p>
                    </div>
                </div>
                <div class="mdl-grid portfolio-width">
                    <div class="diamonds-size">
                      <%= image_tag "diamond-iterations.png" %>
                    </div>
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"><span class="h6">Post D+F</span><br>Working in Iterations</h3>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding">
                        <p>
                            After Discovery and Framing, I move onto delivery, where I work with developers and product managers to develop the solution(s) that was uncovered in Framing portion of the process. Post Discovery and Framing porcess is usually iterative and involves continuous testing to validate the value of product.
                        </p>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--accent button-style"><a href="../index.html">View Portfolio</a></button>
            </div>
        </div>
    </main>
</div>
